a {
    text-decoration: none;
}
.card:hover{
    background-color: rgb(198, 198, 198);
}
body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #f8f9fa;
}
.home {
    background-color: #f8f9fa;
    padding: 10px;
}
.chat-container {
    display: flex;
    flex: 1;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
}
.friend-list {
    width: 33.33%;
    border-right: 1px solid #ddd;
    overflow-y: auto;
    height: 100%;
    padding: 0;
}
.friend-list a {
    display: flex;
    height: calc(100% / 10);
    padding-left: 25px;
}
.chat-content {
    width: 66.67%;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.chat-messages {
    flex-grow: 1;
    overflow-y: scroll;
    padding: 20px;
    word-wrap: break-word;
}
.chat-header {
    padding: 10px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #ddd;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
}
.chat-message {
    display: block;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    max-width: 70%;
    word-break: break-word;
    clear: both;
}
.chat-message.orange {
    background-color: #ff8c00;
    color: #fff;
    float: right;
}
.chat-message.grey {
    background-color: #f0f0f0;
    color: #333;
    float: left;
}
.chat-input {
    padding: 20px;
    border-top: 1px solid #ddd;
}
.chat-input textarea {
    width: 100%;
    height: 60px;
    resize: none;
    border-radius: 5px;
}
.chat-input button {
    margin-top: 10px;
}